body {
  background-image: url("./public/banner-landing.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Roboto", sans-serif;
  position: relative;
}

header {
  position: fixed;
  top: 20px;
  right: 80px;
}

header img {
  width: 200px;
}

form {
  margin-top: 100px;
  padding: 40px;
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 300px;
  background-color: #fafafa;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 14px;
}

form p {
  color: #828282;
  font-size: 13px;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #fc8154;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 50px;
}

input[type="submit"]:hover {
  background-color: #99142c;
  transition: 0.3s;
}

.social-media img {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.social-media a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

.social-media {
  margin-top: 20px;
  color: #ffffff;
  font-size: 14px;
}

.social-media,
.col-md-6,
.col-6 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 575.98px) {
  body {
    background-image: url("./public/banner-landing-mobile.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    position: relative;
  }

  form {
    margin-top: 100px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 0;
  }

  .social-media {
    padding: 40px;
    margin-top: 0;
    color: #000000;
    font-size: 14px;
  }

  .social-media a {
    color: #000000;
    font-size: 12px;
  }

  .social-media img {
    margin-right: 5px;
  }
}
