/* @font-face {
  font-family: Circular Std;
  src: url(../public/CircularStd-Book.ttf)
} */

body {
  position: relative;
}

.logo {
  position: absolute;
  display: flex;
  top: 20px;
  left: 20px;
}

.logo img {
  width: 250px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 40px;

}

#ponto {
  color: #FC8154;
  margin: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

#download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  width: 60%;
  margin: 40px 0;
}

.social-media {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
}

.social-media img {
  width: 20px;
  margin-right: 2px;
}

.social-media a {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #5A5A5A;
}

#book-section {
  background-color:#FC8154;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#book-section img {
  width: 65%
}

.logo-mobile {
  display: none;
}

.btn {
  background-color: #fc8154;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.btn:hover {
  background-color: #e9ae98;
  transition: 0.3s;
}

/* Versão mobile ----------------------------------------------------------------------------------------- */


@media (max-width: 768px) {

  .row {
    flex-direction: column-reverse;
  }

  .logo img {
    display: none;
  }

  .logo-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }

  .logo-mobile img {
    left: 0;
  }

  #book-section {
    height: 60vh;
  }

  #book-section img {
    width: 50%;
  }

  .conteudo {
    width: 70%;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 15px;
    line-height: 26px;
  }

  .social-media {
    bottom: -90px;
  }

  .social-media div {
    margin-top: 5px;
  }



}
